.App {
  text-align: center;
  color: white;
  background: #0d1b28;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.projects .description p{
  max-width: 800px;
  text-align: left;
  line-height: 140%;
  color: #fbfafa;
  font-size: 1.4rem;
}
.projects h2{
  text-align: left;
  border-bottom: 1px solid;
  padding-bottom: 10px;
  font-size: 2rem;
}

.projects .project-list{
  text-align: left;
    list-style: none;
    padding-left: 0px;
    overflow-y: auto;
    max-height: 450px;
}

.project-title{
  font-size: 1.6rem;
  text-decoration: underline;
  cursor: pointer;
}
.project-title:hover{
  color: rgb(94 234 212/var(1));
}
.project-description{
  font-style: italic;
}
.project-item{
  border: 1px solid;
  padding: 10px;
  margin-bottom: 15px;
}

.social-links a{
  color: skyblue;
  font-size: 2.2rem;
}

::-webkit-scrollbar {
  width: 10px; /* Width of the scroll bar */
}

/* Change the color of the scroll bar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background-color: #0077FF; /* Change to your desired color */
  border-radius: 5px; /* Rounded corners for the thumb */
}

/* Change the color on hover (optional) */
::-webkit-scrollbar-thumb:hover {
  background-color: #0055CC; /* Change to your desired color on hover */
}

@media (max-width: 800px) {
  .App{
    height: 1200px;
    padding: 0 4% 0 4%;
  }
  .home{
    display: block;
  }
  .profile-data h1{
    margin-top: 0px;
    padding-top: 30px;
  }
  .projects .description p{
    text-align: justify;
  }
}